name: ZAP API Scan (Auto - Stable)

on:
  push:
    branches:
      - main

jobs:
  zap_api_scan:
    name: OWASP ZAP API Scan
    runs-on: ubuntu-latest

    steps:
      - name: Ejecutar ZAP API Scan
        uses: zaproxy/action-api-scan@v0.4.0
        with:
          target: https://demo.defectdojo.org/api/v2/oa3/schema/?format=json
          format: openapi
          cmd_options: >
            -r zap-report.html
            -J zap-report.json
        env:
          ZAP_AUTH_HEADER: Authorization
          ZAP_AUTH_HEADER_VALUE: Token 548afd6fab3bea9794a41b31da0e9404f733e222
