name: DAST Scan (Fix Local File)

on:
  push:
    branches: [ main ]
  workflow_dispatch:

env:
  # Token fijo (El que sabemos que funciona para atacar la API)
  DOJO_TOKEN: "548afd6fab3bea9794a41b31da0e9404f733e222"
  
  # Tu URL pública del JSON
  OPENAPI_URL: "https://raw.githubusercontent.com/Jneira00001/APIv2_DAST/refs/heads/main/openapi.json"
  
  # El objetivo real
  API_BASE: "https://demo.defectdojo.org"

jobs:
  zap_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Preparar Directorios
        run: |
          mkdir -p ./zap/wrk
          chmod 777 ./zap/wrk
          echo "TIMESTAMP=$(date +'%Y%m%d-%H%M%S')" >> $GITHUB_ENV

      # --- PASO NUEVO: DESCARGAR EL JSON ---
      # Esto evita que ZAP escanee GitHub. Lo bajamos a un archivo local.
      - name: Descargar Definición OpenAPI
        run: |
          echo "⬇️ Descargando archivo JSON desde GitHub..."
          curl -sL "$OPENAPI_URL" -o ./zap/wrk/openapi_local.json
          
          # Verificamos que bajó bien
          if [[ $(head -n 1 ./zap/wrk/openapi_local.json) != *"{"* ]]; then
             echo "❌ Error: Lo que bajamos no es un JSON."
             exit 1
          fi
          
          chmod 777 ./zap/wrk/openapi_local.json
          echo "✅ Archivo guardado en: ./zap/wrk/openapi_local.json"

      - name: Configurar Auth ZAP
        run: |
          cat <<EOF > ./zap/wrk/zap_options.prop
          replacer.full_list(0).description=auth
          replacer.full_list(0).enabled=true
          replacer.full_list(0).matchtype=REQ_HEADER
          replacer.full_list(0).matchstr=Authorization
          replacer.full_list(0).replacement=Token $DOJO_TOKEN
          EOF
          chmod 777 ./zap/wrk/zap_options.prop

      - name: Ejecutar ZAP
        run: |
          REPORT="zap-report-${{ env.TIMESTAMP }}"
          
          echo "⚡ Iniciando ZAP usando el archivo LOCAL..."
          
          # CAMBIO CLAVE:
          # -t /zap/wrk/openapi_local.json  <-- Usamos la ruta local, NO la URL de GitHub
          # -O "$API_BASE"                  <-- Esto fuerza a que los ataques vayan a DefectDojo
          
          docker run --rm -u 0 \
            -v $(pwd)/zap/wrk:/zap/wrk:rw \
            zaproxy/zap-stable zap-api-scan.py \
            -t /zap/wrk/openapi_local.json \
            -f openapi \
            -O "$API_BASE" \
            -z "-configfile /zap/wrk/zap_options.prop" \
            -S \
            -r "$REPORT.html" \
            -J "$REPORT.json" \
            -l WARN \
            || echo "⚠️ ZAP terminó."

      - name: Verificar Reporte
        run: |
          if [ -f "./zap/wrk/zap-report-${{ env.TIMESTAMP }}.html" ]; then
             echo "✅ REPORTE GENERADO CORRECTAMENTE."
          else
             echo "❌ Reporte no encontrado."
             exit 1
          fi

      - name: Subir Reporte
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Reporte-ZAP
          path: ./zap/wrk/
